@import "tailwindcss";

@theme {
    --font-inter: "Inter", serif;
    --font-jost: "Jost", serif;
}
@theme {
    --color-main: #222b2a;
    --color-btn: #398378;
    --breakpoint-xs: 300px;
    --breakpoint-xsm: 500px;
}
body{
    background: linear-gradient(to bottom, #222b2a,#202222);
}

.fture_box .item{
    position: relative;
    overflow: hidden;
    z-index: 1;
}
 
.fture_box .item:hover:after {
    opacity: .5;
}
.fture_box .item::after {
    content: '';
    position: absolute;
    top: var(--y,);
    left: var(--x,);
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background: radial-gradient(#00ffb3,transparent,transparent);
    opacity: 0.3;
    transition: 0.5s, top 0s, left 0s;
    pointer-events: none;
    -webkit-transition: 0.5s, top 0s, left 0s;
    -moz-transition: 0.5s, top 0s, left 0s;
    -ms-transition: 0.5s, top 0s, left 0s;
    -o-transition: 0.5s, top 0s, left 0s;
    opacity: 0;
    z-index: -1;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000;
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px;
  font-weight: bold;
}